body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    flex:auto;
}


#DDContainer{
    display: flex;
    align-content:center ;
    justify-content: center;
    flex-wrap: wrap;
}
#display {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 2vh;
    margin: 2vh;
    height: 50vh;
    width:50vh;
    align-content: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
    width: 45vh;

}
.block {
    background-color: white;
    display: flex;
    flex:auto;
}

.block::before {
    content: '';
    display : block;
}

#BContainer {
    justify-self:start ;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex:auto
}


.button {
    width: 5vh;
    height: 2vh;
}