body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    flex:auto;
}


#DDContainer{
    display: flex;
    align-content:center ;
    justify-content: center;
    flex-wrap: wrap;
}
#display {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px;
    margin: 20px;
    height: 800px;
    width:800px;
    align-content: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;

}
.block {
    background-color: white;
    display: flex;
    min-width: 20px;
    min-height: 20px;
    flex:auto;
}

#BContainer {
    justify-self:start ;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex:auto
}


.button {
    width: 200px;
    height: 50px;
}